.fixed {
  position: fixed;
}

body {
  padding-top: 60px;
}

.navbar-brand {
  font-family: "Anton", sans-serif;
}

.navbar-nav {
  font-family: "Oswald", sans-serif;
}

.flexBox {
  display: flex;
  flex-direction: row;
}

.panel-track {
  width: 200px;
}
